.text {
    font-size: 14px;
    line-height: 24px;
    color: $text-black;
}

.text-link {
    color: $text-grey;
    text-decoration: none;
}

.text-grey {
    font-size: 13px;
    color: $text-grey;
}

.text-title {
    font-size: 16px;
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.child-text {
    padding: 10px 20px;
    background-color: $grey-border;
    font-size: 16px;
    font-weight: 700;
}